singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  queue = 'main'
  beforeScript = 'module load singularity/3.5.3'
}

params.susie_files = "susie_ge.tsv"
