singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}

executor {
    name = 'slurm'
    queueSize = 400
    submitRateLimit = 1
}

process {
  executor = 'slurm'
  queue = 'main'
  beforeScript = 'module load singularity/3.5.3'
}

params.susie_files = "data/susie_ge.tsv"
params.sumstat_path = "/gpfs/hpc/projects/eQTLCatalogue/qtlmap/eQTL_Catalogue_r3/pipeline_out/sumstats"

params.factor_params = 'data/factor_params.txt'
params.colors = "data/colors.txt"
params.iter = 20
params.runs = 20
params.second_level = false
params.mapping = false
params.mapping_matrix = "sn_spMF_K20_a11100_l11200"
params.matrix_folder = "results/factorization/grid_search"